nav {
    background-color: #d81e6b;
    height: 10%;
    min-height: 57px;
    z-index: 4;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
}

nav > a {
    padding-left: 20px;
    padding-right:20px;
    padding-top: 0px;
    text-decoration: underline #d81e6b;
    color: #e8eded;
    transition: transform 0.3s ease-in, text-decoration 0.7s ease-in-out, color 0.3s;
    text-align: center;
    height: 10vh;
}

nav .floatrightnav {
    float: right;
    display: flex;
}

nav .floatrightnav span {
    transform: translate(0, 30%);
}

nav .unspecialnav span {
    transform: translate(0, 30%);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 39%);
}

nav > .floatleftnav > img {
    transition: width 0.3s ease, height 0.3s ease, transform 0s;
    position: relative;
    top: 0.5vh;
    float: left;
    text-align: center;
    width: 9vh;
    height: 9vh;
    min-width: 55px;
    min-height: 55px;
    transform: translate(0, 0.5vh);
}

nav > a:hover{
    /* emulate the font turning into italic */
    transform: skewX(-12deg);
    /* add underline */
    text-decoration: underline #e8eded;
}

nav > .floatleftnav > img:hover {
    transform: skewX(12deg);
    top: 0.5vh;
}

#header {
    background-color:#e788a8;
    position: relative;
    text-align: center;
    font-family: "Staatliches", sans-serif;
    font-weight: 700;
    color: #331832;
    padding: 2px;
    margin-top: 0;
}

    /* silly custom shape divider from some website */
    .custom-shape-divider-top-1727305868 {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1727305868 svg {
        position: relative;
        display: block;
        width: calc(133% + 1.3px);
        height: 99px;
    }
    
    .custom-shape-divider-top-1727305868 .shape-fill {
        fill: #e788a8;
    }

#skibadi {
    height: 80%;
    width: 100%;
    display: block;
    color: rgba(0,0,0,0);
}

#skibadi img {
    height: 100%;
    width: 100%;
}

h1 {
    padding: 15px;
    margin: 0;
    font-size: 50px;
    z-index: 1;
    font-family: "Staatliches", sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    font-family: "Staatliches", sans-serif;
    text-align: center;
    margin: 15px;
    letter-spacing: 1px;
}

body {
    position: relative;
    top: 10vh;
    margin: 0;
    padding: 0;
    background-color: #e8eded;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
}

p {
    padding: 10px;
    font-size: 18px;
    color: #331832;
}

a {
    color: #e8eded;
    display: inline-block;
}

#skibadiblurb {
    background-color: #28666e;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#skibadiblurb p {
    position: relative;
    z-index: 1;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
}

#skibadih2 {
    position: absolute;
    top: -73px;
    z-index: 2;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    transform: translate(0, -75px);
    background-color: #28666e;
}

#aboutFirstParagraph {
    width: 80%;
    justify-content: center;
}

#aboutContainer {
    text-align: center;
    width: 100%;
}

#platformDropdown{
    width:130%;
    height: 0;
    content: '';
    background-color: rgba(0,0,0,0);
    top:50px;
    z-index:3;
    transition: height 0.3s ease-in;
    display: inline-block;
    position: absolute;
}

#platformthing:hover #platformDropdown {
    background-color: #d81e6b;
    height: calc(200px + 10%);
    width: 150px;
    transform: skewX(12deg);
    left: 5em;
}

#platformthing #platformDropdown a {
    font-size: 0px;
    color: #e8eded;
    text-decoration: underline #d81e6b;
    transition: transform 0.3s ease-in, text-decoration 0.7s ease-in-out, color 0.3s;
}
#platformthing:hover #platformDropdown a {
    font-size: 18px;
}

#platformthing:hover #platformDropdown a:hover {
    transform: skewX(-12deg);
    text-decoration: underline #e8eded;
}

#platformthing {
    display: flex;
    position: relative;
}

/*#platformthing::after {
    content: '';
}*/

.sectionHeader {
    background-color: #d81e6b;
    text-align: center;
    margin-top: 20px;
}

/*#platformthing:hover {
    #platformthing::after {
        content: '<div id="platformDropdown" style="background-color: #d81e6b; position: absolute; top: 100%;"><a href="/roseparty/platform#foreignpolicy">Foreign Policy</a><a href="/roseparty/platform#foreignpolicy">Foreign Policy</a></div>';
    }
}*/

#tableofcontents {
    margin-top: 0;
    padding-top: 110px;
}

#aboutrose {
    background-color: #331832;
    padding-top: 10px;
    margin-top: 0;
    color: #e8eded;
}

#aboutrose p {
    margin-top: 0;
    margin-bottom: 0;
    color: #e8eded;
}

#externalbuttonthing {
    padding-top: -0.1vh;
    position: relative;
    height: 8vh;
    top: 1vh;
    background-color: #28666e;
    border-radius: 1vh;
    color: #e8eded;
    text-decoration: underline #28666e;
}

.platformText {
    color: #e8eded;
    text-align: center;
}
