nav {
    background-color: #ff474e;
    height: 10%;
    min-height: 57px;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: sticky;
    vertical-align: center;
    top: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    margin: 0;
}

nav > a {
    padding-left: 20px;
    padding-right:20px;
    padding-top: 0px;
    text-decoration: underline #ff474e;
    color: #000;
    transition: transform 0.3s ease-in, text-decoration 0.7s ease-in-out;
    display: flex;
    justify-content: center;
}

nav > a > img {
    transition: width 0.3s ease, height 0.3s ease, transform 0s;
}

nav > a:hover{
    /* emulate the font turning into italic */
    transform: skewX(-12deg);
    /* add underline */
    text-decoration: underline #3b1f2b;
    /* change color */
    color: #294936;
}

nav > a > img:hover {
    width: 10vh;
    height: 10vh;
    min-width: 55px;
    min-height: 55px;
    transform: skewX(12deg);
}

#header {
    background-color:#9ee493;
    position: relative;
    text-align: center;
    font-family: "Staatliches", sans-serif;
    font-weight: 700;
    color: #000;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-top: 0;
}

    /* silly custom shape divider from some website */
    .custom-shape-divider-top-1727305868 {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1727305868 svg {
        position: relative;
        display: block;
        width: calc(133% + 1.3px);
        height: 99px;
    }
    
    .custom-shape-divider-top-1727305868 .shape-fill {
        fill: #9EE493;
    }

.poster {
    height: 70%;
    width: 100%;
    background-image: url("/roseparty/assets/posterskibadi.png");
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffe7;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    padding: 10px;
    font-size: 18px;
    color: #000;
}

a {
    color: #ffffe7;
    display: inline-block;
}

#skibadiblurb {
    background-color: #294936;
    position: relative;
}

#skibadiblurb p {
    position: relative;
    z-index: 1;
    padding: 10px;
    padding-top: 0;
}

#ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    transform: translate(0, -50px);
    background-color: #294936;
}

#aboutFirstParagraph{
    width: 80%;
    justify-content: center;
}

#aboutContainer {
    display:flex;
    justify-content:center;
    width:100%;
}

#platformDropdown{
    width:100%;
    height: 0;
    content: '';
    background-color: rgba(0,0,0,0);
    top:20px;
    z-index:2;
    transition: transform 0.3s ease-in;
    display: inline-block;
    position: absolute;
}

#platformthing:hover #platformDropdown {
    background-color: #ff474e;
    height: calc(150px + 10%);
    transform: skewX(12deg);
    content: '<a href="/roseparty/platform#socialjustice">Social Justice</a><br><a href="/roseparty/platform#education">Education</a><br><a href="/roseparty/platform#economy">Economy</a><br><a href="/roseparty/platform#healthcare">Healthcare</a><br><a href="/roseparty/platform#environment">Environment</a><br><a href="/roseparty/platform#foreignpolicy">Foreign Policy</a><br><a href="/roseparty/platform#immigration">Immigration</a><br>';
}

#platformthing {
    display: flex;
    justify-content: center;
}

.sectionHeader {
    background-color: red;
    text-align: center;
    margin-top: 20;
