#navbar {
    background-color: #ff474e;
    height: 10%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: sticky;
    vertical-align: top;
    top: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
}
#navbar > a {
    padding:20px;
    text-decoration-line: none;
    color: #3b1f2b;
}
#header {
    background-color:#9ee493;
    text-align: center;
}
body {
    margin: 0;
    padding: 5px;
    background-color: #fefffe;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a {
    color: #fefffe;
    transition: transform 0.75s;
}
a:hover{
    /* emulate the font turning into italic */
    transform: skewX(-20deg);
}
#aboutFirstParagraph{
    width: 80%;
    justify-content: center;
}
#aboutContainer {
    display:flex;
    justify-content:center;
    width:100%;
}
