#navbar {
    background-color: #ff474e;
    height: 10%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
}
#header {
    background-color:#9ee493;
    text-align: center;
}
body {
    margin: 0;
    background-color: #fefffe;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a {
    color: white;
}
#aboutFirstParagraph{
    width: 80%;
    justify-content: center;
}
