#navbar {
    background-color: #ff474e;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    width: 100%;
    vertical-align: middle;
}
body {
    margin: 0;
    background-color: #fefffe;
}
a{
    color: white;
}
